Microservices/.vs/Microservices/FileContentIndex/09e5aa56-3b47-42a1-83ef-bc6028e6dfdf.vsidx
Microservices/.vs/Microservices/FileContentIndex/6752175d-6c7b-403d-b9ae-110b828e6187.vsidx
Microservices/.vs/Microservices/FileContentIndex/3b7360d2-3acb-4537-9055-a2436a25500b.vsidx
Microservices/.vs/Microservices/FileContentIndex/9f2e11c0-72da-4a5a-bce7-596a699aebfa.vsidx
Microservices/.vs/Microservices/FileContentIndex/d4ba0c34-cc25-4652-a20f-62f39839585a.vsidx
