Microservices/.vs/Microservices/FileContentIndex/09e5aa56-3b47-42a1-83ef-bc6028e6dfdf.vsidx
Microservices/.vs/Microservices/FileContentIndex/6752175d-6c7b-403d-b9ae-110b828e6187.vsidx
Microservices/.vs/Microservices/FileContentIndex/3b7360d2-3acb-4537-9055-a2436a25500b.vsidx
Microservices/.vs/Microservices/FileContentIndex/9f2e11c0-72da-4a5a-bce7-596a699aebfa.vsidx
Microservices/.vs/Microservices/FileContentIndex/d4ba0c34-cc25-4652-a20f-62f39839585a.vsidx
Microservices/.vs/Microservices/FileContentIndex/29dada10-0ef3-4c41-8191-20befd727755.vsidx
Microservices/.vs/Microservices/FileContentIndex/39838cbf-cc4e-4fe2-97a9-4bb2bc8fc0b5.vsidx
Microservices/.vs/Microservices/FileContentIndex/495081ce-28f6-4bcb-934f-127cd07341ad.vsidx
Microservices/.vs/Microservices/FileContentIndex/7ae21496-d486-4df2-8c37-9ceec258c21e.vsidx
Microservices/.vs/Microservices/FileContentIndex/e8206b50-bf14-420c-b0a3-5b6d7f7a5063.vsidx
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/AutoMapper.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Course.Shared.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Course.Shared.pdb
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/DnsClient.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.AspNetCore.JsonPatch.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.AspNetCore.Razor.Language.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.CodeAnalysis.Razor.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.DotNet.PlatformAbstractions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Localization.Abstractions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Localization.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.ObjectPool.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.WebEncoders.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/MongoDB.Bson.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/MongoDB.Driver.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Newtonsoft.Json.Bson.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Newtonsoft.Json.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/SharpCompress.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Snappier.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/System.Security.Cryptography.Pkcs.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/System.Security.Cryptography.Xml.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/ZstdSharp.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.csproj.AssemblyReference.cache
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.csproj.CoreCompileInputs.cache
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.csproj.FileListAbsolute.txt
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.dll
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.pdb
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.sourcelink.json
Shared/Course.Shared/bin/Debug/netcoreapp3.1/Course.Shared.deps.json
Shared/Course.Shared/bin/Debug/netcoreapp3.1/Course.Shared.dll
Shared/Course.Shared/bin/Debug/netcoreapp3.1/Course.Shared.pdb
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.csproj.AssemblyReference.cache
Microservices/.vs/Microservices/v17/.suo
Microservices/.vs/Microservices/v17/DocumentLayout.json
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/appsettings.json
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Course.Services.Catalog.deps.json
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Course.Services.Catalog.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Course.Services.Catalog.exe
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Course.Services.Catalog.pdb
Microservices/Services/Catalog/Course.Services.Catalog/obj/Course.Services.Catalog.csproj.nuget.dgspec.json
Microservices/Services/Catalog/Course.Services.Catalog/obj/Course.Services.Catalog.csproj.nuget.g.props
Microservices/Services/Catalog/Course.Services.Catalog/obj/Course.Services.Catalog.csproj.nuget.g.targets
Microservices/Services/Catalog/Course.Services.Catalog/obj/project.assets.json
Microservices/Services/Catalog/Course.Services.Catalog/obj/project.nuget.cache
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/apphost.exe
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.AssemblyInfo.cs
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.AssemblyInfoInputs.cache
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.assets.cache
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.csproj.CoreCompileInputs.cache
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.csproj.FileListAbsolute.txt
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.dll
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.genruntimeconfig.cache
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.MvcApplicationPartsAssemblyInfo.cs
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.pdb
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/ref/Course.Services.Catalog.dll
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.assets.cache
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.AssemblyInfoInputs.cache
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/refint/Course.Services.Catalog.dll
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.AssemblyInfo.cs
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.sourcelink.json
Microservices/.vs/Microservices/v17/DocumentLayout.backup.json
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/appsettings.json
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Course.IdentityServer.deps.json
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Course.IdentityServer.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Course.IdentityServer.exe
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Course.IdentityServer.pdb
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Course.IdentityServer.runtimeconfig.dev.json
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Course.IdentityServer.runtimeconfig.json
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Course.IdentityServer.StaticWebAssets.xml
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Course.IdentityServer.Views.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Course.IdentityServer.Views.pdb
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Course.Shared.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Course.Shared.pdb
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/IdentityModel.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/IdentityServer4.AspNetIdentity.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/IdentityServer4.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/IdentityServer4.Storage.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Google.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V3.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Diagnostics.Abstractions.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Composite.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Embedded.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Localization.Abstractions.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Localization.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.ObjectPool.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Extensions.WebEncoders.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Serilog.AspNetCore.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Serilog.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Serilog.Extensions.Hosting.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Serilog.Extensions.Logging.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Serilog.Formatting.Compact.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Serilog.Settings.Configuration.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Serilog.Sinks.Console.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Serilog.Sinks.Debug.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/Serilog.Sinks.File.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Formats.Asn1.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Security.AccessControl.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Security.Cryptography.Cng.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Security.Cryptography.Pkcs.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Security.Cryptography.Xml.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Security.Principal.Windows.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Text.Encodings.Web.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/System.Text.Json.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Security.Cryptography.Cng.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.AccessControl.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
Microservices/.vs/Microservices/config/applicationhost.config
Microservices/.vs/Microservices/DesignTimeBuild/.dtbcache.v2
Microservices/.vs/Microservices/FileContentIndex/2f083c3e-09ab-4235-867e-2ea53fbe374a.vsidx
Microservices/.vs/Microservices/FileContentIndex/52c5e2ca-eac0-4880-88a2-1e770c4be91a.vsidx
Microservices/.vs/Microservices/FileContentIndex/cc0e87ed-a4f7-461d-bea2-4abc2eb280a9.vsidx
Microservices/.vs/Microservices/FileContentIndex/d6b731ba-97ae-41f0-9885-9fea7b16eb86.vsidx
Microservices/.vs/Microservices/FileContentIndex/d9eb1703-1cca-4e94-95e9-5f915a1d64e5.vsidx
IdentityServer/FreeCourse.IdentityServer/obj/Course.IdentityServer.csproj.nuget.dgspec.json
IdentityServer/FreeCourse.IdentityServer/obj/Course.IdentityServer.csproj.nuget.g.props
IdentityServer/FreeCourse.IdentityServer/obj/Course.IdentityServer.csproj.nuget.g.targets
IdentityServer/FreeCourse.IdentityServer/obj/FreeCourse.IdentityServer.csproj.nuget.dgspec.json
IdentityServer/FreeCourse.IdentityServer/obj/FreeCourse.IdentityServer.csproj.nuget.g.props
IdentityServer/FreeCourse.IdentityServer/obj/FreeCourse.IdentityServer.csproj.nuget.g.targets
IdentityServer/FreeCourse.IdentityServer/obj/project.assets.json
IdentityServer/FreeCourse.IdentityServer/obj/project.nuget.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/apphost.exe
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.I.0B0A1169.Up2Date
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.AssemblyInfo.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.AssemblyInfoInputs.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.assets.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.csproj.AssemblyReference.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.csproj.CoreCompileInputs.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.csproj.FileListAbsolute.txt
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.dll
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.GeneratedMSBuildEditorConfig.editorconfig
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.genruntimeconfig.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.MvcApplicationPartsAssemblyInfo.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.MvcApplicationPartsAssemblyInfo.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.pdb
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.RazorAssemblyInfo.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.RazorAssemblyInfo.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.RazorCoreGenerate.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.RazorTargetAssemblyInfo.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.RazorTargetAssemblyInfo.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.sourcelink.json
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.TagHelpers.input.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.TagHelpers.output.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.Views.dll
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Course.IdentityServer.Views.pdb
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/FreeCourse.IdentityServer.AssemblyInfo.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/FreeCourse.IdentityServer.AssemblyInfoInputs.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/FreeCourse.IdentityServer.assets.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/FreeCourse.IdentityServer.csproj.AssemblyReference.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/FreeCourse.IdentityServer.GeneratedMSBuildEditorConfig.editorconfig
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/FreeCourse.IdentityServer.RazorAssemblyInfo.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/FreeCourse.IdentityServer.RazorAssemblyInfo.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Account/AccessDenied.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Account/LoggedOut.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Account/Login.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Account/Logout.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Consent/Index.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Device/Success.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Device/UserCodeCapture.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Device/UserCodeConfirmation.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Diagnostics/Index.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Grants/Index.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Nav.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ScopeListItem.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationSummary.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Redirect.cshtml.g.cs
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/staticwebassets/Course.IdentityServer.StaticWebAssets.Manifest.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/staticwebassets/Course.IdentityServer.StaticWebAssets.Pack.cache
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/staticwebassets/Course.IdentityServer.StaticWebAssets.xml
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.build.Course.IdentityServer.props
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.buildMultiTargeting.Course.IdentityServer.props
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.buildTransitive.Course.IdentityServer.props
IdentityServer/FreeCourse.IdentityServer/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.Course.IdentityServer.Microsoft.AspNetCore.StaticWebAssets.props
