Microservices/.vs/Microservices/FileContentIndex/09e5aa56-3b47-42a1-83ef-bc6028e6dfdf.vsidx
Microservices/.vs/Microservices/FileContentIndex/6752175d-6c7b-403d-b9ae-110b828e6187.vsidx
Microservices/.vs/Microservices/FileContentIndex/3b7360d2-3acb-4537-9055-a2436a25500b.vsidx
Microservices/.vs/Microservices/FileContentIndex/9f2e11c0-72da-4a5a-bce7-596a699aebfa.vsidx
Microservices/.vs/Microservices/FileContentIndex/d4ba0c34-cc25-4652-a20f-62f39839585a.vsidx
Microservices/.vs/Microservices/FileContentIndex/29dada10-0ef3-4c41-8191-20befd727755.vsidx
Microservices/.vs/Microservices/FileContentIndex/39838cbf-cc4e-4fe2-97a9-4bb2bc8fc0b5.vsidx
Microservices/.vs/Microservices/FileContentIndex/495081ce-28f6-4bcb-934f-127cd07341ad.vsidx
Microservices/.vs/Microservices/FileContentIndex/7ae21496-d486-4df2-8c37-9ceec258c21e.vsidx
Microservices/.vs/Microservices/FileContentIndex/e8206b50-bf14-420c-b0a3-5b6d7f7a5063.vsidx
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/AutoMapper.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Course.Shared.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Course.Shared.pdb
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/DnsClient.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.AspNetCore.JsonPatch.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.AspNetCore.Razor.Language.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.CodeAnalysis.Razor.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.DotNet.PlatformAbstractions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Localization.Abstractions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Localization.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.ObjectPool.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Microsoft.Extensions.WebEncoders.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/MongoDB.Bson.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/MongoDB.Driver.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Newtonsoft.Json.Bson.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Newtonsoft.Json.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/SharpCompress.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Snappier.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/System.Security.Cryptography.Pkcs.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/System.Security.Cryptography.Xml.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/ZstdSharp.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.csproj.AssemblyReference.cache
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.csproj.CoreCompileInputs.cache
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.csproj.FileListAbsolute.txt
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.dll
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.pdb
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.sourcelink.json
Shared/Course.Shared/bin/Debug/netcoreapp3.1/Course.Shared.deps.json
Shared/Course.Shared/bin/Debug/netcoreapp3.1/Course.Shared.dll
Shared/Course.Shared/bin/Debug/netcoreapp3.1/Course.Shared.pdb
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.csproj.AssemblyReference.cache
Microservices/.vs/Microservices/v17/.suo
Microservices/.vs/Microservices/v17/DocumentLayout.json
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/appsettings.json
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Course.Services.Catalog.deps.json
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Course.Services.Catalog.dll
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Course.Services.Catalog.exe
Microservices/Services/Catalog/Course.Services.Catalog/bin/Debug/net8.0/Course.Services.Catalog.pdb
Microservices/Services/Catalog/Course.Services.Catalog/obj/Course.Services.Catalog.csproj.nuget.dgspec.json
Microservices/Services/Catalog/Course.Services.Catalog/obj/Course.Services.Catalog.csproj.nuget.g.props
Microservices/Services/Catalog/Course.Services.Catalog/obj/Course.Services.Catalog.csproj.nuget.g.targets
Microservices/Services/Catalog/Course.Services.Catalog/obj/project.assets.json
Microservices/Services/Catalog/Course.Services.Catalog/obj/project.nuget.cache
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/apphost.exe
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.AssemblyInfo.cs
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.AssemblyInfoInputs.cache
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.assets.cache
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.csproj.CoreCompileInputs.cache
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.csproj.FileListAbsolute.txt
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.dll
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.genruntimeconfig.cache
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.MvcApplicationPartsAssemblyInfo.cs
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/Course.Services.Catalog.pdb
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/ref/Course.Services.Catalog.dll
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.assets.cache
Shared/Course.Shared/obj/Debug/netcoreapp3.1/Course.Shared.AssemblyInfoInputs.cache
Microservices/Services/Catalog/Course.Services.Catalog/obj/Debug/net8.0/refint/Course.Services.Catalog.dll
